---
import "../../style/style.scss";
import Header from "@components/Header.astro";
const { title } = Astro.props;


function removeTrailingSlash(str: string) {
	return str.replace(/\/+$/, '');
  }
  
const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="prefetch" href="/assets/moon.svg" as="image" />
		<link rel="canonical" href={canonicalUrl} />
		<slot name="meta" />
	</head>
	<body>
		<script is:inline>
			// Set the right color mode based on the user's preferred color scheme.
			const darkMode = sessionStorage.getItem("darkMode");
			if (null !== darkMode) {
				document.body.classList.add(
					darkMode === "true" ? "dark" : "light"
				);
			}
		</script>
		<div class="main">
			<Header />
			<slot />
		</div>

		<script is:inline>
			window.va = function () {
				(window.vaq = window.vaq || []).push(arguments);
			};
			window.va("beforeSend", (event) => {
				if (!document.cookie.includes("token")) {
					return event;
				}
				return null;
			});
		</script>
		<script async src="/va/script.js"></script>
	</body>
</html>
