---
import "../../style/style.scss";
import Header from "@components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="prefetch" href="/assets/moon.svg" as="image" />
	</head>
	<body>
		<script is:inline>
			// Set the right color mode based on the user's preferred color scheme.
			const darkMode = sessionStorage.getItem("darkMode");
			if (null !== darkMode) {
				document.body.classList.add(
					darkMode === "true" ? "dark" : "light"
				);
			}
		</script>
		<div class="main">
			<Header />
			<slot />
		</div>
	</body>
</html>
