---
import "../../style/style.scss";
import Header from "@components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="prefetch" href="/assets/moon.svg" as="image" />
	</head>
	<body>
		<script>
			// Set the right color mode based on users prefered color scheme.
			document.body.classList.add(
				sessionStorage.getItem("darkMode") === "true" ? "dark" : "light"
			);
		</script>
		<div class="main">
			<Header />
			<slot />
		</div>
	</body>
</html>
