@mixin dark {
	--accent-background: hsl(188 1% 7%);
	--accent-text: hsl(188 17% 88%);
	--accent-mild: hsl(188 7% 48%);
	
	--background-color: hsl(188 3% 11%);
	--background-color-alt: hsl(188 10% 22%);
	--background-color-alt-alt: hsl(188 3% 30%);
	--text-color: hsl(188 3% 77%);
	--text-color-alt: hsl(188 20% 71%);
	--text-color-soft: hsl(188 10% 50%);

	--link-color: hsl(188 50% 60%);
	--link-color-hover: hsl(188 86% 76%);


	--i-background-color: hsl(188 5% 20%);
	--i-background-color-alt: hsl(188 33% 33%);
	--i-text-color: hsl(188 3% 88%);

	--code-background: hsl(188 5% 10%);
	--code-inline-bg: hsl(188, 90%, 12%);
	--code-inline-color: hsl(188, 100%, 95%);

	// Habits
	--level-1-color: hsl(188, 5%, 24%);
	--level-2-color: hsl(188, 5%, 34%);
	--level-3-color: hsl(188, 5%, 44%);
	--level-4-color: hsl(188, 5%, 70%);
	--level-5-color: hsl(188, 5%, 87%);

	--habit-empty: hsl(188 5% 18%);
	--habit-hover-block: var(--level-5-color);
	
}
