---
import Habits from "@components/daily-habit-tracker/Habits.svelte";
import Blog from "@layouts/blog";

const write: number[] = await fetch("https://api.pyronaur.com/habits/write").then(
	(r) => r.json()
);
const track: number[] = await fetch("https://api.pyronaur.com/habits/track").then(
	(r) => r.json()
);
const walk: number[] = await fetch("https://api.pyronaur.com/habits/walk").then(
	(r) => r.json()
);
const code: number[] = await fetch("https://api.pyronaur.com/habits/code").then(
	(r) => r.json()
);
---

<Blog title="Daily Habit Journal">
	<main class="container">
		<div class="habit">
			<h2>Morning Walk</h2>
			<Habits client:idle history={walk} name="walk" />
		</div>

		<div class="habit">
			<div class="desc">
				<h2>Blog</h2>
			</div>
			<Habits client:idle history={write} name="write" />
		</div>

		<div class="habit">
			<h2>Track</h2>
			<Habits client:idle history={track} name="track" />
		</div>

		<div class="habit">
			<h2>Write Code</h2>
			<Habits client:idle history={code} name="code" />
		</div>

		
	</main>
</Blog>

<style lang="scss">
	h2 {
		margin-top: 50px;
		margin-bottom: 10px;
		height: 40px;
		font-size: 1.125rem;
		font-weight: 600;
		display: flex;
		align-items: center;
	}
	main {
		max-width: 1400px;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
