---
import { fetchHabit } from "@components/daily-habit-tracker/api";
import Habits from "@components/daily-habit-tracker/Habits.svelte";
import Blog from "@layouts/blog";

//
const habits = [
	{
		label: "Morning Walk",
		slug: "walk",
		history: [],
	},
	{
		label: "Code",
		slug: "code",
		history: [],
	},
	{
		label: "Writing",
		slug: "write",
		history: [],
	},
	{
		label: "Track",
		slug: "track",
		history: [],
	},
];

for (const habit of habits) {
	habit.history = await fetchHabit(habit.slug);
}
---

<Blog title="Daily Habit Journal">
	<main class="container">
		{
			habits.map((habit) => {
				return (
					<div class="habit">
						<h2>{habit.label}</h2>
						<Habits
							client:idle
							history={habit.history}
							name={habit.slug}
						/>
					</div>
				);
			})
		}
	</main>
</Blog>

<style lang="scss">
	h2 {
		margin-top: 50px;
		margin-bottom: 10px;
		height: 40px;
		font-size: 1.125rem;
		font-weight: 600;
		display: flex;
		align-items: center;
	}
	main {
		max-width: 1400px;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
