---
import { fetchHabitHistory } from "@components/daily-habit-tracker/api";
import Habits from "@components/daily-habit-tracker/Habits.svelte";
import Blog from "@layouts/blog";

const history = await fetchHabitHistory();
console.log(history)
---

<Blog title="Daily Habit Journal">
	<main class="container">
		<Habits client:idle habits={history} />
	</main>
</Blog>

<style lang="scss">
	h2 {
		margin-top: 50px;
		margin-bottom: 10px;
		height: 40px;
		font-size: 1.125rem;
		font-weight: 600;
		display: flex;
		align-items: center;
	}
	main {
		max-width: 1400px;
		width: 100%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
</style>
