---
import { blog } from "@data/post"
import Blog from "@layouts/blog";
import Summary from "@components/blog/summary.astro";
const posts = blog( await Astro.glob('../content/**/*.{md,mdx}') );
---

<Blog title="@pyronaur">
	<div class="grid content">
		{posts.map((p) => <Summary post={p} />)}
	</div>
</Blog>
