---
import { blog } from "@data/post"
import Blog from "@layouts/blog";
import Preview from "@components/blog/preview.astro";
const posts = blog( await Astro.glob('../content/**/*.{md,mdx}') );
---

<Blog title="@pyronaur">
	<div class="grid">
		{posts.map((p) => <Preview post={p} />)}
	</div>
</Blog>
