.content {
	li > a,
	p > a {
		color: var(--link-color);

		&:hover,
		&:focus {
			color: var(--link-color-hover);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		a {
			color: inherit;
			text-decoration: none;

			&:hover,
			&:focus {
				color: inherit;
				text-decoration: underline;
			}
		}
	}

	p a,
	li a {
		font-weight: 700;
		text-decoration: none;
		border-bottom: 0.5px dashed;
		padding-bottom: 1px;
	}

	p code,
	li code {
		font-size: 0.9rem;
		font-weight: 500;
		padding: 2px 5px;
		background-color: var(--code-inline-bg);
		color: var(--code-inline-color);
		font-family: "Fira Code", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", ui-monospace,
			Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Courier New", monospace;
	}

	pre {
		padding: 50px 30px;
		margin-bottom: 20px;
		margin-top: 20px;
		font-size: 1rem;

		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	pre,
	pre * {
		line-height: 1.55;
	}

	table {
		width: 100%;
		padding: 15px;
		border-collapse: collapse;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	tbody tr:nth-child(odd) {
		background-color: var(--background-color-alt);
	}

	td {
		padding: 10px;
		border: 1px solid var(--i-background-color-alt);
	}

	blockquote:not([class]) {
		border-left: 10px solid var(--i-background-color);
		padding: 20px 40px;
		margin-top: 40px;
		margin-bottom: 40px;
		color: var(--text-color-alt);
	}

	.astro-code {
		padding-top: 50px;
		background-color: var(--code-background) !important;
		
		@supports (grid-template-columns: subgrid) {
			border-radius: 7px;
		}
	}
}

.light .content .astro-code {
	filter: invert(1) contrast(1.25) saturate(3);
	background-color: hsl(16 3% 15%) !important;
}

blockquote.tweet-card {
	margin-top: 40px;
	margin-bottom: 40px;
	border-color: rgb(196, 196, 196);
}

a.tweet-link {
	text-align: right;
	font-size: 0.75rem;
	letter-spacing: 0.5px;
	// Twitter blue:
	color: #1da1f2;
}
