:root {
	--container-width: min(85vw, 700px);
	--background-color: hsl(188 3% 97%);
	--background-color-alt: hsl(188 3% 90%);
	--background-color-alt-alt: hsl(188 3% 95%);
	--text-color: hsl(188 3% 27%);
	--text-color-alt: hsl(188 3% 7%);

	--link-color: hsl(188 50% 20%);
	--link-color-hover: hsl(188 66% 66%);


	--i-background-color: hsl(188 3% 7%);
	--i-background-color-alt: hsl(188 33% 33%);
	--i-text-color: hsl(188 3% 88%);

	--code-background: hsl(188 0% 7%);
}