---
import SiteThemeToggle from "@components/blog/SiteThemeToggle.svelte";
---

<div class="top">
	<div class="container">
		<a href="/">pyronaur</a>
		<SiteThemeToggle client:load />
	</div>
</div>

<style lang="scss">
	a {
		padding: 30px;
		background-color: var(--i-background-color);
		color: var(--i-text-color);
		display: inline-block;
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
</style>
