---
import { Icon } from "astro-icon";
import SiteThemeToggle from "@components/blog/SiteThemeToggle.svelte";
---

<div class="top">
	<div class="container">
		<a href="/" class="not-a-logo">pyronaur</a>
		<div class="icons">
			<a href="https://twitter.com/pyronaur" rel="me" target="_blank">
				<Icon name="mdi:twitter" />
			</a>
			<SiteThemeToggle client:load />
		</div>
	</div>
</div>

<style lang="scss">
	.not-a-logo {
		padding: 30px;
		background-color: var(--i-background-color);
		color: var(--i-text-color);
		display: inline-block;
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	[astro-icon] {
		width: 24px;
		color: black;
		:global(.dark) & {
			color: white;
		}
	}

	.icons {
		display: flex;
		// height: 40px;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
</style>
