---
import { Icon } from "astro-icon/components";
import SiteThemeToggle from "@components/blog/SiteThemeToggle.svelte";
---

<div class="top">
	<div class="container">
		<a href="/" class="not-a-logo">pyronaur</a>
		<div class="icons">
			<a
				href="https://github.com/pyronaur"
				rel="me"
				target="_blank"
				aria-label="GitHub"
			>
				<Icon name="mdi:github" />
			</a>
			<a
				href="https://mas.to/@pyronaur"
				rel="me"
				target="_blank"
				aria-label="Mastodon"
			>
				<Icon name="mdi:mastodon" />
			</a>
			<a
				href="https://twitter.com/pyronaur"
				rel="me"
				target="_blank"
				aria-label="Twitter"
			>
				<Icon name="mdi:twitter" />
			</a>
			<div class="dark-mode">
				<SiteThemeToggle client:load />
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	.not-a-logo {
		padding: 30px;
		background-color: var(--i-background-color);
		color: var(--i-text-color);
		display: inline-block;
		font-size: 1.4rem;
		font-weight: bold;
		text-decoration: none;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.dark-mode {
		display: flex;
		align-items: center;
	}

	[astro-icon] {
		width: 24px;
		color: black;
		:global(.dark) & {
			color: white;
		}
	}

	.icons {
		display: grid;
		grid-template-columns: 45px 45px 45px 45px;
		gap: 10px;
		align-items: center;
		height: 45px;
		justify-items: end;
	}
</style>
