---
	import Date from "@components/utilities/Date";
	import type { Post } from '@data/post';
	const post: Post = Astro.props.post
---

<div>
	<div class="post-title">
		<h2><a href={`/${post.slug}`}>{post.title}</a></h2>
	</div>
	<div class="post-date">
		<Date date={post.date}/>
	</div>
	<p>{post.preview}</p>
</div>

<style>
	.post-date { 
		font-size: .85rem;
	}
</style>