---
	import Date from "@components/utilities/Date";
	import type { Post } from '@data/post';
	const post: Post = Astro.props.post
---

<article>
	<a class="preview" href={`/${post.slug}`}>
		
		<div class="top">
			<div class="post-title">
				<h2>{post.title}</h2>
			</div>
		</div>

		<div class="content">{post.preview}</div>

		<div class="read-more">Read more</div>
	</a>
</article>

<style lang="scss">
	
	article {
		margin: 75px auto;
	}

	.post-title h2 { 
		font-size: 1.3rem;
		margin-bottom: 10px;
	}

	a { 
		color: var( --text-color );
		text-decoration: none;
		display: block;
		border: 5px solid var(--i-background-color);
		padding: 25px;
		transition: color .1s ease, border-color .1s ease;
	}

	a:hover {
		border-color: var( --background-color-alt-alt );
		color: var( --background-color-alt);
	}

	.read-more, a:hover .read-more {
		text-decoration: none;
		font-weight: 600;
		font-size: .85rem;
		color: var( --text-color);
	}

	b {
		font-weight: 600;
		font-size: 0.925rem;
	}
</style>